@import url(/assets/css/reset.css);

/* 
==============================
  VARIABLES
==============================
*/
:root {
  /* Colors */
  --blue: #05164d;
  --blue-2: #052c58;
  --white: #ffffff;
  --yellow: #ffad00;
  --gray: #666666;
  --gray-blue: #7d899d;
  --gray-blue-2: #52627c;
  --light-gray: #f5f5f5;
  --light-gray-2: #e0e0e0;
  --light-gray-3: #a7a7a7;
  /* Fonts & Typography */
  --font-main: "Roboto", sans-serif;
  --font-secondary: "Arimo", sans-serif;
  --font-size-default: 1.6rem;
  --font-size-small: 1.4rem;
  --font-size-title-secondary: 1.8rem;
  --font-weight-thin: 300;
  --font-weight-default: 400;
  --font-weight-medium: 500;
  --line-height-default: 1.5;
  --letter-spacing: 1px;
  --letter-spacing-small: 0.7px;
  /* Length values */
  --max-width: 1440px;
  --indent-default: 16px;
  --padding-inline: calc(var(--indent-default) * 1.5);
  --padding-inline-wide: 80px;
  /* Other values */
  --transition: 300ms ease-in;
  --transition-fast: 150ms ease-in;
  --z-header: 3;
  --z-mobile-menu: 2;
  --z-overlay: 1;
}

/* 
==============================
  BASE
==============================
*/
body {
  font-family: var(--font-main);
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-default);
  line-height: var(--line-height-default);
  color: var(--blue);
}

body.lock {
  overflow: hidden;
}

/* 
==============================
  REUSABLE CLASSES
==============================
*/
.wrapper {
  width: min(100%, var(--max-width));
  margin-inline: auto;
}

/* body overlay */
.overlay__body {
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-overlay);
}

.overlay__body.active {
  position: fixed;
  height: 100vh;
  background-color: var(--gray);
}
/* end body overlay */

/* 
==============================
  HEADER
==============================
*/
header {
  background-color: var(--blue);
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--z-header);
  transition: top 300ms ease-in-out;
}

/* Mobile Navigation */
.mobile__header {
  height: 100%;
}

.mobile__header-container {
  height: 100%;
  color: var(--white);
  padding-inline: var(--padding-inline);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile__header-logo {
  color: var(--white);
}

.mobile__header-logo a {
  display: flex;
  align-items: center;
}

.logo {
  width: 164px;
  height: 28px;
}

.mobile__header-buttons {
  display: flex;
  gap: calc(var(--indent-default) * 1.5);
}

.mobile__header-buttons button {
  width: 22px;
  height: 22px;
  transition: all var(--transition-fast);
}

button#login {
  border-radius: 50%;
  background-color: var(--light-gray-2);
  display: flex;
  align-items: center;
  justify-content: center;
}

button#login:hover {
  background-color: var(--white);
}

.login {
  width: 11px;
  height: 11px;
  color: var(--blue);
}

button#help,
button#burger {
  color: var(--light-gray-2);
}

button#help:hover,
button#burger:hover {
  color: var(--white);
}

.mobile__menu {
  width: min(100%, 400px);
  min-height: calc(100vh - 60px);
  position: fixed;
  right: 0;
  top: 60px;
  bottom: 0;
  background-color: var(--light-gray);
  will-change: transform;
  transform: translateX(100%);
  transition: transform var(--transition);
  overflow-y: scroll;
  z-index: var(--z-mobile-menu);
}

.mobile__menu.active {
  transform: translateX(0);
}

.mobile__menu-list {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-block: var(--indent-default);
  font-size: 1.8rem;
  font-weight: 700;
}

.mobile__menu-link {
  width: 100%;
  height: 100%;
  padding-inline: var(--padding-inline);
  padding-block: var(--indent-default);
  border-block-end: thin solid var(--light-gray-3);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  width: 14px;
  height: 12px;
}

.mobile__menu-link.show-menu .arrow {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.mobile__submenu-list {
  height: 0;
  overflow: hidden;
  padding-block: 0;
  padding-inline-start: calc(var(--padding-inline) * 1.5);
  transition: all 150ms ease;
}

.mobile__submenu-list a {
  width: 100%;
  height: 100%;
  padding-block: calc(var(--indent-default) / 2) var(--indent-default);
  padding-inline-end: var(--padding-inline);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile__submenu-list.show {
  height: auto;
  padding-block: 1rem;
}

.language__selector {
  margin-block-end: var(--indent-default);
}

.language__selector button {
  padding-inline-start: var(--padding-inline);
  color: var(--gray-blue-2);
  font-weight: var(--font-weight-medium);
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color var(--transition);
}

.language__selector button:hover {
  color: var(--blue-2);
}

.globe {
  width: 22px;
  height: 22px;
}
/* End Mobile Navigation */

/* PC Navigation */
.pc__header {
  display: none;
}
/* End PC Navigation */

/* 
==============================
  MAIN
==============================
*/
main {
  width: 100%;
  margin-block-start: 2px;
}

.banner {
}

.banner__container {
  position: relative;
}

.banner__image {
}

.banner__image img {
  width: 100%;
  height: 705px;
  object-fit: cover;
}

.banner__card {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  margin-inline: auto;
  width: 89%;
  height: 615px;
  border-radius: 3px;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.banner__card-icons,
.banner__card-options,
.banner__card-search,
.banner__card-redeem {
  padding: var(--indent-default);
}

.banner__card-icons {
  width: 100%;
  height: 62px;
  padding-block: 0;
  border-bottom: thin solid var(--light-gray-3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--indent-default);
  position: relative;
}

.progress {
  width: calc((100% - (var(--indent-default) * 4)) / 3);
  height: 4px;
  position: absolute;
  bottom: 0;
  background-color: var(--blue);
  pointer-events: none;
  transition: all var(--transition);
  z-index: 1;
}

.banner__card-icons a {
  width: calc(100% / 3);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner__card-icon {
  color: var(--gray);
  transition: color var(--transition-fast);
}

.banner__card-icons a:hover .banner__card-icon {
  color: var(--blue);
}

.plane {
  transform: rotate(45deg);
  width: 22px;
  height: 22px;
  color: var(--blue);
}

.car {
  width: 26px;
  height: 22px;
}

.hotel {
  width: 28px;
  height: 24px;
}

.banner__card-text {
  display: none;
}

.banner__card-wrapper {
  width: 100%;
  height: calc(100% - 62px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block-start: var(--indent-default);
  padding-block-end: calc(var(--indent-default) * 2);
}

.banner__card-search {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* 
==============================
FOOTER
==============================
*/
footer {
  width: 100%;
  height: 500px;
  background-color: var(--blue-2);
}

/* 
==============================
  MEDIA QUERIES
==============================
*/
@media (min-width: 510px) {
  .banner__image img {
    height: 590px;
  }
}

@media (min-width: 760px) {
  .banner__image img {
    height: 500px;
  }
}
@media (min-width: 1024px) {
  header {
    height: 120px;
  }

  .mobile__header {
    display: none;
  }

  .pc__header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--white);
    padding: calc(var(--indent-default) * 1.5) var(--padding-inline-wide);
  }

  .pc__header-top {
    display: flex;
    justify-content: flex-end;
    gap: calc(var(--indent-default) * 3);
  }

  .pc__header-top a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--light-gray-2);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-small);
    letter-spacing: var(--letter-spacing-small);
    transition: color var(--transition-fast);
  }

  .pc__header-top a:hover {
    color: var(--white);
  }

  .login-pc-wrapper {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--light-gray-2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition-fast);
  }

  .pc__header-top a:hover .login-pc-wrapper {
    background-color: var(--white);
  }

  .login-pc {
    width: 9px;
    height: 9px;
    color: var(--blue);
  }

  .help-pc,
  .globe-pc {
    width: 16px;
    height: 16px;
  }

  .pc__header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  .pc__header-logo,
  .pc__header-logo a {
    height: 38px;
  }

  .logo-pc {
    width: 222px;
    height: 38px;
  }

  .pc__header-menu {
    display: flex;
    gap: calc(var(--indent-default) * 2);
    font-size: var(--font-size-title-secondary);
    font-weight: var(--font-weight-thin);
    letter-spacing: var(--letter-spacing);
  }

  .pc__header-menu a {
    color: var(--light-gray-2);
  }

  .pc__header-menu a:hover {
    color: var(--white);
  }

  main {
    margin-block-start: 100px;
  }
}
